@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Light Mode === */
body {
  @apply bg-slate-700 text-slate-900;
  /* soft off-white background, dark slate text */
  font-family: 'Montserrat';
  overflow-x: hidden;
}

/* === Dark Mode === */
body.dark {
  @apply bg-slate-900 text-slate-100;
  /* deep slate background, light text */
  font-family: 'Montserrat';
  overflow-x: hidden;
}