@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; 
}

body.dark {
  @apply bg-black text-white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; 
}
